@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="reservationApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    @RenderSection("Scripts")
</head>
<body>
   @RenderSection("Body")
</body>
</html>
